    * {
        box-sizing: border-box;
        border: 0;
        outline: 0;
        padding: 0;
        margin: 0;
    }
    
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #f5db13;
        box-shadow: 0 0 20px #0004;
        padding: 10px;
        z-index: 1;
    }
    
    header img {
        width: 128px;
    }
    
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    
    main {
        background: linear-gradient(#f5db13, #f2b807);
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    
    main div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    main div p {
        margin: 30px 0;
    }
    
    main div a {
        width: 300px;
        height: 50px;
        border-radius: 10px;
        background: #73d677;
        font-size: 24px;
        text-decoration: none;
        color: black;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 7px 0px #5eaf62;
        transition: background 0.5s, color 0.5s;
    }
    
    main div a:hover {
        color: #fff;
        background: #5eaf62;
    }
    
    .pokebola {
        position: fixed;
        bottom: 10px;
        right: 10px;
        width: 64px;
        height: 64px;
    }
    
    @keyframes jump {
        0% {
            position: relative;
            bottom: 250px;
        }
        25% {
            position: relative;
            bottom: 10px;
        }
        50% {
            position: relative;
            bottom: 70px;
        }
        100% {
            position: relative;
            bottom: 10px;
        }
    }
    
    .pokebola img {
        width: 100%;
        animation-name: jump;
        animation-duration: 3s;
    }
    
    .pokebola img:hover {
        animation-name: hover;
    }
    
    @keyframes hover {
        0% {
            animation-duration: 1s;
            width: 110%;
            position: relative;
            right: 50px;
        }
        25% {
            width: 150%;
            animation-duration: 1s;
            position: relative;
            right: 50px;
            bottom: 50px;
        }
        50% {
            width: 120%;
            animation-duration: 1s;
            position: relative;
            right: 15px;
            bottom: 20px;
        }
        100% {
            width: 100%;
            animation-duration: 1s;
        }
    }